﻿@page "/routes"
@using Models.Routes
@inject MetroChecker.Service.IMetroService MetroService

<h3>Routes</h3>

<div>
    <button class="btn btn-primary" @onclick="() => GetAllRoutes()">Get All Routes</button>
    
</div>

@code {

    public Routes Routes { get; set; } = new();

    private string url = "/v3/routes";

    async Task GetAllRoutes()
    {
        Routes = await MetroService.GetAllRoutes(url);
        StateHasChanged();
    }

}
